spring:
  datasource:
    username: root
    password: 110123
    url: jdbc:mysql://localhost:3306/boot_crm?useSSL=false&useUnicode=true&characterEncoding=utf-8&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
# 禁用缓存
  thymeleaf:
    cache: false
mybatis-plus:
  #映射文件mapper的位置
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      #使用自增主键
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0
server:
  port: 10000
  tomcat:
    uri-encoding: UTF-8
logging:
  level:
    com.atguigu.gulimall: debug